 
<section class="row-fluid">  
 <form class="span8">
 	<div class="container-fluid">
            <h1>ProWork--Easy Project Managements </h1>    
             
 	      	<table  class="table table-striped table-bordered">
				<thead>
					<tr>
					    <td class="tdCenter">Job Number </th>
					    <td class="tdCenter">Company Name</th>
					    <td class="tdCenter">Company Code</th>
   	
						<td class="tdCenter">Contact Name</th>
					    <td class="tdCenter">Job Priority</th>
					    <td class="tdCenter">Start Date</th>
						<td class="tdCenter">Due Date</th>
	   	
					</tr>
				</thead>
				<tbody>
				     
					    <td class="tdRight">  {{groupedProjList[routeId].JOBNUMBER}} </td>
					    <td class="tdRight">{{groupedProjList[routeId].COMPANYNAME}} </td>
					    <td class="tdRight">{{groupedProjList[routeId].COMPANYCODE}} </td>
					    <td class="tdRight">  {{groupedProjList[routeId].CONTACTNAME}} </td>
					    <td class="tdRight">{{groupedProjList[routeId].JOBPRIORITY}} </td>
					    <td class="tdRight">{{groupedProjList[routeId].STARTDATE}} </td>
					   <td class="tdRight">{{groupedProjList[routeId].DUEDATE}} </td>

				       
				</tbody>
			</table>
 	
 	         <ul>
 	         	
 	         	<a href="index.html"><input type="button" value="Back to Home" class="btn btn-primary"></a> 	

 	         	
 	         </ul>
 	
 		
 	</div>
 	
 	
 </form> 
 
</section> 